name: playwright
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "playwright/**"
      - "public/**"
      - "tsconfig.json"
      - "webpack.config.js"
      - "package.json"
      - "yarn.lock"
      - ".github/workflows/playwright.yml"
  workflow_dispatch:
jobs:
  playwright:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup corepack
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Setup tests
        run: yarn playwright:setup
      - name: Run tests
        run: yarn playwright:test
