name: playwright
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "tests/playwright/**"
      - "public/**"
      - "tsconfig.json"
      - "webpack.config.js"
      - "package.json"
      - "yarn.lock"
      - ".github/workflows/playwright.yml"
  workflow_dispatch:
jobs:
  playwright:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup corepack
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Cache playwright
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('yarn.lock') }}
      - name: Build
        run: yarn build
      - name: Setup tests
        run: yarn playwright:setup
      - name: Run tests
        run: yarn playwright:test
