name: release
on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "public/**"
      - "tsconfig.json"
      - "webpack.config.js"
      - "package.json"
      - "yarn.lock"
      - ".github/workflows/release.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  TAG: v1.0.0
  FILE: instagram-pic-enlarger.zip
  TITLE: Instagram Pic Enlarger
  NOTES: Download latest version
jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup corepack
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Package
        run: zip -r $FILE ./release/*
      - name: Release
        run: |
          gh release delete "$TAG" --yes --cleanup-tag
          gh release create "$TAG" --latest --title "$TITLE" --notes "$NOTES"
          gh release upload "$TAG" "$FILE" --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
