name: test
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "tests/jest/**"
      - "tsconfig.json"
      - "package.json"
      - "yarn.lock"
      - ".github/workflows/test.yml"
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup corepack
        run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "yarn"
          cache-dependency-path: yarn.lock
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Check formatting & linting
        run: |
          yarn prettier
          yarn lint
      - name: Run tests
        run: yarn test
